<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mimi Shop{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <nav class="navbar">

        <div class="logo">Mimi Shop</div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/products">Products</a>
             <a href="/cart">Cart</a>
            {% if session.get('user_id')%}
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
            {%else%}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            {%endif%}
        </div>

    </nav>

    {% block content %}
    {% endblock %}
     

</body>
</html>